.App {
  text-align: center;
  background-color: rgb(240, 240, 240)
}

.links {
  padding: 10px 30px;
  margin: 20px;
  text-decoration: none;
  background-color: #54b3ab;
  color: white;
  font-weight: bold;
}

nav {
  height: 50px;
  padding: 20px;
}

.jokes {
  font-size: 18px;
  padding: 10px 0px;
}

.title {
  font-size: 30px;
}

.list{
  text-align: left;
  
}